<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Weather forecast</title>
    </head>
    <body>
        <div>
            <h1>
                Good day. <br>
                Welcome you on weather forecast service. Here you can check weather in any city.
            </h1>
            <form method="post" action="">
                <label for="city">Enter city name</label>
                <input name="city_name" id="city" type="text" placeholder="Moscow" th:value="${city_name}">
                <p>
                    <label>Choose service</label><br>
                    <input name="service_name" id="owm" type="radio" value="openweathermap" checked>OpenWeatherMap<br>
                    <input name="service_name" id="ax" type="radio" value="apixu">APIXU (only english city's names)<br>
                </p>

                <button type="submit">Check weather</button>
            </form>
            <script>
                var id = localStorage.checked;
                if(id) document.getElementById(id).checked = true
                var input = document.getElementsByName('service_name');
                for (var i=0; i<input.length; i++)  {
                    input[i].onclick = function() {
                        localStorage.checked =  this.id ;
                    } }
            </script>

        </div>
        <div>
            <br>
            <b th:text="${city}"/><br>
            <b th:text="${t}"/><br>
            <b th:text="${h} != null ? ${h} : ''"/><br>
            <b th:text="${p} != null ? ${p} : ''"/><br>
        </div>
        <hr>
        <b>
            All rights reserved.
        </b>
    </body>
</html>